# Daten einlesen und bereinigen

In [50]:
#ben√∂tigte Packages installieren

import numpy as np

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

!pip install pyproj
from pyproj import Proj, transform

import warnings
warnings.filterwarnings('ignore')

import os

!pip install geojson
import geojson

!pip install shapely
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

Requirement already satisfied: pyproj in c:\users\admin\anaconda3\lib\site-packages (3.4.0)
Requirement already satisfied: certifi in c:\users\admin\anaconda3\lib\site-packages (from pyproj) (2022.12.7)
Requirement already satisfied: geojson in c:\users\admin\anaconda3\lib\site-packages (2.5.0)
Requirement already satisfied: shapely in c:\users\admin\anaconda3\lib\site-packages (1.8.5.post1)

# 1. Vorbereitung VBZ Daten

## 1a VBZ Fahrgastzahlen einlesen, gruppieren und mergen

In [51]:
# working directory anpassen
print(os.getcwd())
user = '/Users/' + os.getlogin()
os.chdir(user + '/Dropbox/Projekt Scripting/01 data')
print(os.getcwd())

# CSV einlesen
df_fahrgastzahlen = pd.read_csv('./Fahrgastzahlen_2021/REISENDE.csv',sep=';')
df_haltestellen = pd.read_csv('./Fahrgastzahlen_2021/HALTESTELLEN.csv',sep=';')
df_linie = pd.read_csv('./Fahrgastzahlen_2021/LINIE.csv',sep=';')
df_gefgr = pd.read_csv('./Fahrgastzahlen_2021/GEFAESSGROESSE.csv',sep=';')

C:\Users\admin\Dropbox\Projekt Scripting\01 data
C:\Users\admin\Dropbox\Projekt Scripting\01 data

In [52]:
df_fahrgastzahlen.head(3)

,Tagtyp_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Richtung,Sequenz,Haltestellen_Id,Nach_Hst_Id,FZ_AB,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,Distanz,Tage_DTV,Tage_DWV,Tage_SA,Tage_SO,Nachtnetz,Tage_SA_N,Tage_SO_N,ID_Abschnitt
0,14,9,11,88877,1,2,154,153.0,19:14:00,18,3.27778,0.22222,5.50000,399,175.27317,175.27317,0.0,0.0,0,0,0,15400153
1,14,9,11,88877,1,3,153,152.0,19:14:54,18,2.77778,1.05556,7.22222,412,175.27317,175.27317,0.0,0.0,0,0,0,15300152
2,14,9,11,88877,1,4,152,151.0,19:16:12,18,1.72222,0.22222,8.72222,383,175.27317,175.27317,0.0,0.0,0,0,0,15200151

In [53]:
#schauen, welche Infos immer gleich sind pro Haltestelle_id
df_fahrgastzahlen.loc[df_fahrgastzahlen['Haltestellen_Id']==154]

,Tagtyp_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Richtung,Sequenz,Haltestellen_Id,Nach_Hst_Id,FZ_AB,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,Distanz,Tage_DTV,Tage_DWV,Tage_SA,Tage_SO,Nachtnetz,Tage_SA_N,Tage_SO_N,ID_Abschnitt
0,14,9,11,88877,1,2,154,153.0,19:14:00,18,3.27778,0.22222,5.50000,399,175.27317,175.27317,0.0,0.00000,0,0,0,15400153
1906,14,9,11,87690,1,2,154,153.0,20:28:54,22,2.27273,0.18182,6.18182,399,175.27317,175.27317,0.0,0.00000,0,0,0,15400153
2422,14,9,11,88843,1,2,154,153.0,20:38:54,70,2.48571,0.11429,5.07143,399,175.27317,175.27317,0.0,0.00000,0,0,0,15400153
2992,4,9,11,1158,2,33,154,155.0,11:37:54,0,0.33333,6.50000,7.50000,613,0.00000,0.00000,0.0,0.00000,0,0,0,15400155
3129,4,9,11,4972,2,33,154,155.0,11:45:24,0,0.38889,6.83333,7.33333,613,0.00000,0.00000,0.0,0.00000,0,0,0,15400155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1208643,4,81,12,59484,2,10,154,153.0,18:46:36,13,1.84615,4.61538,21.15385,504,52.00000,0.00000,52.0,0.00000,0,0,0,15400153
1208661,4,81,12,68423,2,10,154,153.0,19:01:36,8,0.12500,1.75000,16.62500,504,52.00000,0.00000,52.0,0.00000,0,0,0,15400153
1208679,4,81,12,45198,2,10,154,153.0,19:16:36,5,0.40000,1.80000,22.80000,504,52.00000,0.00000,52.0,0.00000,0,0,0,15400153
1208925,3,9,11,7887,1,2,154,153.0,20:38:54,0,0.37500,0.00000,0.75000,399,11.18033,0.00000,0.0,11.18033,0,0,0,15400153
1208959,3,9,11,12205,1,2,154,153.0,20:48:54,2,0.00000,0.00000,0.00000,399,11.18033,0.00000,0.0,11.18033,0,0,0,15400153

In [54]:
#traffic_total per Haltestelle berechnen
df_fahrgastzahlen['traffic_total'] = df_fahrgastzahlen['Einsteiger'] + df_fahrgastzahlen['Aussteiger']

In [55]:
#Schauen, wie viele Messungen durchgef√ºhrt wurden
df_fahrgastzahlen['Anzahl_Messungen'].value_counts()

1      107896
0       99782
3       82006
4       79338
5       79289
        ...
115         4
118         4
174         4
120         4
117         4
Name: Anzahl_Messungen, Length: 163, dtype: int64

In [56]:
#Diejenigen Daten rausfiltern, wo es keine Messung gab
filt=df_fahrgastzahlen['Anzahl_Messungen']>0
df_fahrgastzahlen=df_fahrgastzahlen[filt]

In [57]:
df_haltestellen.head(3)

,Haltestellen_Id,Haltestellennummer,Haltestellenkurzname,Haltestellenlangname
0,509,6594,AHOR,"Adliswil, Ahornweg"
1,511,148,ABAD01,"Adliswil, Badstrasse"
2,513,28,BADL01,"Adliswil, Bahnhof"

In [58]:
df_linie.head(3)

   Linien_Id  Linienname VSYS Linienname_Fahrgastauskunft
0         31          10    T                          10
1          9          11    T                          11
2         81          12    T                          12

In [59]:
#Fahrgastzahlen nochmals um zu schauen, welche Variable wie aggregiert werden muss
df_fahrgastzahlen.head(1)

,Tagtyp_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Richtung,Sequenz,Haltestellen_Id,Nach_Hst_Id,FZ_AB,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,Distanz,Tage_DTV,Tage_DWV,Tage_SA,Tage_SO,Nachtnetz,Tage_SA_N,Tage_SO_N,ID_Abschnitt,traffic_total
0,14,9,11,88877,1,2,154,153.0,19:14:00,18,3.27778,0.22222,5.5,399,175.27317,175.27317,0.0,0.0,0,0,0,15400153,3.5

In [60]:
## Fahrgastzahlen gruppieren und je nach Variable unterschiedlich aggregieren

df_fahrgastzahlen_gp = (
df_fahrgastzahlen.groupby(['Haltestellen_Id','Linien_Id'])
                .agg(Linienname=('Linienname', 'first')
                    ,Plan_Fahrt_Id=('Plan_Fahrt_Id','first') 
                    ,Anzahl_Messungen=('Anzahl_Messungen', sum)
                    ,Einsteiger=('Einsteiger', np.mean)
                    ,Aussteiger=('Aussteiger', np.mean)
                    ,Besetzung=('Besetzung', np.mean)
                    ,traffic_total=('traffic_total', np.mean)
                    ,Distanz_m=('Distanz', np.mean)
                    )
                        ).reset_index()

In [61]:
df_fahrgastzahlen_gp.head(100)

,Haltestellen_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,traffic_total,Distanz_m
0,4,3,916,102001,5309,2.260442,1.916962,10.838398,4.177404,606.862245
1,4,7,33,68716,21038,1.515205,1.302838,3.030410,2.818044,192.500000
2,4,11,4,88973,30122,3.012010,2.403962,6.020661,5.415972,185.103179
3,4,17,2,71915,13063,2.269434,2.670671,4.538867,4.940104,185.000000
4,4,34,912,62992,4922,2.973354,2.584563,15.311116,5.557917,604.570048
5,4,35,910,44534,6832,4.469661,3.321159,8.939323,7.790820,547.500000
6,4,94,348,114020,81,1.611168,0.787415,8.294501,2.398582,498.714286
7,5,3,916,102001,5309,0.238072,0.225833,12.181104,0.463906,525.469388
8,5,34,912,62992,4922,0.229136,0.221816,17.298230,0.450951,524.111111
9,5,35,910,44567,3443,0.101601,0.076213,6.642318,0.177814,556.000000
10,5,94,348,114020,47,0.020833,0.079365,12.748512,0.100198,433.000000
11,6,3,916,102001,5309,0.708526,0.750994,11.368270,1.459520,397.579082
12,6,34,912,62992,4922,0.786523,0.764428,16.483144,1.550951,397.350242
13,6,35,910,44567,3443,0.348869,0.069805,6.616930,0.418673,413.000000
14,6,94,348,114020,47,0.000000,1.218849,11.529663,1.218849,411.000000
15,7,3,916,102001,5309,1.305883,1.134898,10.000685,2.440781,442.272959
16,7,34,912,62992,4922,1.424025,1.317237,14.941191,2.741262,442.929952
17,7,35,910,44532,6832,0.612712,0.560320,8.431544,1.173032,338.500000
18,7,94,348,114020,47,0.091072,1.440178,10.180556,1.531250,265.000000
19,8,3,916,102001,5309,1.191597,1.329759,7.951429,2.521356,423.140306
20,8,34,912,62992,4922,1.206641,1.439171,12.829100,2.645812,421.287440
21,9,3,916,102001,5297,0.694024,0.759047,6.400046,1.453071,325.500000
22,9,34,912,62992,4922,0.728669,0.809396,11.285911,1.538065,325.756039
23,10,3,916,102001,5297,0.443287,0.506121,5.461854,0.949408,316.500000
24,10,34,912,62992,4922,0.440956,0.496772,10.362714,0.937729,316.050725
25,11,3,916,102124,5297,0.278060,0.378746,4.870674,0.656807,385.000000
26,11,34,912,62992,4922,0.276806,0.406663,9.791769,0.683469,385.463768
27,12,3,916,102124,5297,0.325260,0.445205,4.348580,0.770465,403.238462
28,12,34,912,62992,4922,0.314762,0.405186,9.361205,0.719948,376.794686
29,13,3,916,102124,5340,0.814023,0.975974,3.986891,1.789997,309.864796
30,13,32,919,101360,3787,0.627210,0.756588,6.961011,1.383798,439.896552
31,13,34,912,62992,4922,0.644052,0.818033,9.035905,1.462085,422.917874
32,13,94,348,114020,47,0.000000,0.156845,1.300000,0.156845,485.000000
33,14,3,916,18205,2380,0.432813,0.514283,3.877775,0.947096,371.630901
34,14,32,919,22358,1577,0.342067,0.417359,6.533170,0.759426,329.632124
35,14,94,348,114020,47,0.000000,0.207837,1.092163,0.207837,207.000000
36,15,3,916,18205,2380,1.090762,0.747744,3.978013,1.838506,364.618026
37,15,33,918,101774,2209,0.198044,0.409335,3.313051,0.607379,422.000000
38,16,3,916,18205,2380,0.146436,0.175724,3.715273,0.322160,473.124464
39,16,33,918,101774,1605,0.178937,0.096823,3.811105,0.275760,424.000000
40,17,3,916,18205,2380,0.243053,0.319158,3.287958,0.562212,347.347639
41,17,33,918,101774,3251,0.313873,0.363088,3.844450,0.676961,347.605000
42,18,3,916,18205,2380,0.188672,0.196375,2.875474,0.385047,211.369099
43,18,33,918,101774,3251,0.210747,0.252727,3.314322,0.463474,211.510000
44,19,3,916,4,1208,0.096028,0.678731,2.556051,0.774760,231.000000
45,19,33,918,101465,1646,0.150586,0.835512,2.809225,0.986098,231.000000
46,20,3,916,18205,2380,1.109722,1.294481,2.248393,2.404202,158.433476
47,20,33,918,101774,3251,1.356902,1.411659,2.742832,2.768561,158.895000
48,21,3,916,102001,3533,0.504884,0.547728,8.649980,1.052612,1070.012658
49,21,34,912,62992,3234,0.647304,0.659424,12.303742,1.306728,1064.283988
50,22,3,916,101942,2689,0.492680,5.079410,6.226165,5.572090,183.000000
51,22,11,4,90257,30122,6.562101,6.963987,25.290025,13.526088,257.496375
52,22,17,2,71915,13063,8.463300,7.764734,26.538076,16.228034,263.500000
53,22,34,912,101982,2583,0.609164,6.960254,7.919755,7.569418,183.000000
54,22,94,348,114020,81,3.839740,0.865249,11.903628,4.704989,263.571429
55,23,3,916,102001,7984,3.274994,2.139859,5.260345,5.414853,557.005111
56,23,9,11,86619,23912,8.586115,7.191775,28.734357,15.777890,290.439791
57,23,10,9,83194,15683,12.226286,11.869437,23.257402,24.095723,376.106548
58,23,11,4,90257,30122,7.569756,7.893536,24.629887,15.463292,304.527050
59,23,17,2,71915,13106,8.668070,7.179335,26.322757,15.847405,276.064516
60,23,21,5,114583,10229,13.273050,10.619780,21.870589,23.892830,376.000000
61,23,25,15,41282,16543,4.665761,3.314253,9.249096,7.980014,314.500000
62,23,29,8,54153,14520,5.251435,3.853202,17.088627,9.104637,292.129382
63,23,34,912,62992,7597,4.460800,2.728477,7.102879,7.189277,553.854200
64,23,87,342,113673,73,7.559881,4.334048,13.745238,11.893929,462.000000
65,23,88,343,113871,182,3.665534,2.850395,6.021949,6.515929,815.652174
66,23,89,341,113721,158,10.342155,2.542857,20.684310,12.885012,692.500000
67,23,90,397,113835,69,3.241667,2.549383,6.483333,5.791049,643.500000
68,23,91,347,113739,35,6.300000,2.893939,11.550000,9.193939,642.545455
69,23,92,346,113792,47,16.404762,4.761905,28.708334,21.166667,492.571429
70,23,93,396,113639,142,4.725103,5.924691,9.813675,10.649794,336.555556
71,23,94,348,114020,81,6.972789,1.480159,12.202381,8.452948,113.714286
72,23,95,391,113998,93,2.666977,2.346618,4.718498,5.013596,395.086957
73,23,96,392,113765,68,6.306000,11.113334,13.137500,17.419334,618.720000
74,23,97,394,113766,75,3.627706,2.901407,6.139195,6.529113,398.272727
75,23,98,398,113920,66,1.956349,5.636508,3.734848,7.592857,708.714286
76,23,99,344,113930,79,4.473188,13.162008,9.353030,17.635197,338.130435
77,23,100,345,113979,42,5.793333,4.127778,10.862500,9.921111,453.333333
78,23,101,349,113698,64,16.660847,2.260186,29.989524,18.921032,478.888889
79,23,102,395,114012,37,2.115000,10.083334,4.700000,12.198334,608.850000
80,24,3,916,102001,2606,0.227834,0.185338,9.850158,0.413173,403.000000
81,24,34,912,62992,2431,0.307017,0.221256,13.646754,0.528274,403.000000
82,26,4,89,60847,12318,1.271293,1.231241,12.421926,2.502534,390.702403
83,26,18,83,63048,7844,2.366094,2.567541,12.512878,4.933634,383.125926
84,27,4,89,60847,12318,1.697311,1.656147,12.607478,3.353458,353.465804
85,27,18,83,63048,7844,2.950842,3.116148,10.087237,6.066990,339.103704
86,28,4,89,60847,12318,1.446549,1.499383,12.536001,2.945932,336.950092
87,28,11,4,78857,4,0.333335,0.000000,0.333335,0.333335,420.000000
88,28,17,2,480,13390,4.364045,4.449167,34.864581,8.813211,421.975041
89,28,18,83,63048,7844,1.661302,1.821911,8.483773,3.483213,336.474074
90,28,28,3,81096,96,0.625252,0.000000,0.625252,0.625252,420.000000
91,29,4,89,60847,12318,2.206408,2.187912,11.990043,4.394320,385.245841
92,29,18,83,63048,7844,1.621922,1.823974,7.336558,3.445896,315.644444
93,30,4,89,60847,11322,0.555151,0.588761,11.799322,1.143912,481.148445
94,30,18,83,67534,3917,0.537322,0.327313,6.549529,0.864635,631.000000
95,30,72,78,112939,283,3.201816,6.624290,10.741191,9.826106,831.000000
96,31,4,89,65373,12318,4.352832,4.596452,10.629237,8.949284,503.260628
97,31,8,31,106344,18141,5.801635,5.730660,12.013528,11.532295,337.324074
98,31,18,83,63048,8297,2.598066,3.763455,5.467572,6.361521,130.198582
99,31,19,35,57877,12351,1.627013,2.238294,3.254027,3.865307,304.562176

In [62]:
df_fahrgastzahlen_gp[df_fahrgastzahlen_gp.Haltestellen_Id == 4]

,Haltestellen_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,traffic_total,Distanz_m
0,4,3,916,102001,5309,2.260442,1.916962,10.838398,4.177404,606.862245
1,4,7,33,68716,21038,1.515205,1.302838,3.030410,2.818044,192.500000
2,4,11,4,88973,30122,3.012010,2.403962,6.020661,5.415972,185.103179
3,4,17,2,71915,13063,2.269434,2.670671,4.538867,4.940104,185.000000
4,4,34,912,62992,4922,2.973354,2.584563,15.311116,5.557917,604.570048
5,4,35,910,44534,6832,4.469661,3.321159,8.939323,7.790820,547.500000
6,4,94,348,114020,81,1.611168,0.787415,8.294501,2.398582,498.714286

In [63]:
df_fahrgastzahlen_gp.Haltestellen_Id.value_counts().to_frame()

# Hier sieht man, wie viele Linien pro Haltestelle befahren werden

     Haltestellen_Id
23                25
78                17
94                17
68                13
129               12
..               ...
566                1
91                 1
568                1
569                1
756                1

[733 rows x 1 columns]

In [64]:
df_fahrgastzahlen_gp.sort_values('Anzahl_Messungen')
print('Anzahl Zeilen Total:')
print (df_fahrgastzahlen_gp.shape[0])
print ('Anzahl Zeilen mit < 20 Messungen:')
print (df_fahrgastzahlen_gp.loc[df_fahrgastzahlen_gp.Anzahl_Messungen<20].shape[0])

Anzahl Zeilen Total:
2127
Anzahl Zeilen mit < 20 Messungen:
67

In [65]:
# Dataframes zusammenf√ºhren
df_fahrgastzahlen_merge = (df_fahrgastzahlen_gp.merge(df_haltestellen,on='Haltestellen_Id',how='inner')
                           .merge(df_linie,on=('Linien_Id','Linienname'), how='inner')
                          )
df_fahrgastzahlen_merge

,Haltestellen_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,traffic_total,Distanz_m,Haltestellennummer,Haltestellenkurzname,Haltestellenlangname,VSYS,Linienname_Fahrgastauskunft
0,4,3,916,102001,5309,2.260442,1.916962,10.838398,4.177404,606.862245,3041,BTIE,"Z√ºrich, Bahnhof Tiefenbrunnen",BP,916
1,5,3,916,102001,5309,0.238072,0.225833,12.181104,0.463906,525.469388,418,BUEB,"Zollikon, Bahn√ºbergang",BP,916
2,6,3,916,102001,5309,0.708526,0.750994,11.368270,1.459520,397.579082,824,FBST,"Zollikon, Felbenstrasse",BP,916
3,7,3,916,102001,5309,1.305883,1.134898,10.000685,2.440781,442.272959,715,DUFP,"Zollikon, Dufourplatz",BP,916
4,8,3,916,102001,5309,1.191597,1.329759,7.951429,2.521356,423.140306,476,BEUG,"Zollikon, Beugi",BP,916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,590,58,325,40536,3149,0.280595,0.504061,0.561190,0.784657,176.500000,6698,DWEI,"Dietikon, Weinberg",BL,325
2123,545,83,753,69316,18,2.666670,0.000000,2.666670,2.666670,3131.000000,1311,IKLO,"Z√ºrich, Im Kl√∂sterli",BG,E
2124,594,83,753,69317,18,2.611110,0.111110,26.111110,2.722220,2688.000000,6214,URSP,"Gockhausen, Ursprungstrasse",BG,E
2125,595,83,753,69316,36,11.472220,1.000000,23.611110,12.472220,197.500000,1006,GDOR,"Gockhausen, Dorf",BG,E
2126,710,83,753,69317,18,0.000000,26.111110,NaN,26.111110,0.000000,6986,DHOS07,"D√ºbendorf, Hochbord S√ºd",BG,E

In [66]:
#neue Variablen bilden
df_fahrgastzahlen_merge['halt_lin_kurz']=df_fahrgastzahlen_merge['Haltestellen_Id'].astype(str)+'-'+df_fahrgastzahlen_merge['Linienname_Fahrgastauskunft'].astype(str)
df_fahrgastzahlen_merge['halt_lin_lang']=df_fahrgastzahlen_merge['Haltestellenlangname'].astype(str)+' Linie '+df_fahrgastzahlen_merge['Linienname_Fahrgastauskunft'].astype(str)
df_fahrgastzahlen_merge.head(3)

,Haltestellen_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,traffic_total,Distanz_m,Haltestellennummer,Haltestellenkurzname,Haltestellenlangname,VSYS,Linienname_Fahrgastauskunft,halt_lin_kurz,halt_lin_lang
0,4,3,916,102001,5309,2.260442,1.916962,10.838398,4.177404,606.862245,3041,BTIE,"Z√ºrich, Bahnhof Tiefenbrunnen",BP,916,4-916,"Z√ºrich, Bahnhof Tiefenbrunnen Linie 916"
1,5,3,916,102001,5309,0.238072,0.225833,12.181104,0.463906,525.469388,418,BUEB,"Zollikon, Bahn√ºbergang",BP,916,5-916,"Zollikon, Bahn√ºbergang Linie 916"
2,6,3,916,102001,5309,0.708526,0.750994,11.368270,1.459520,397.579082,824,FBST,"Zollikon, Felbenstrasse",BP,916,6-916,"Zollikon, Felbenstrasse Linie 916"

In [67]:
# schauen ob es sich um Nachtnetz oder Sonderlinien handelt und diese dann rausfiltern
# F√ºr Sonderlinie das letzte Zeichen extrahieren
df_fahrgastzahlen_merge['Linientyp_S'] = df_fahrgastzahlen_merge['Linienname_Fahrgastauskunft'].str[-1:]
# F√ºr Nachtlinie die ersten beiden Zeichen extrahieren
df_fahrgastzahlen_merge['Linientyp_N'] = df_fahrgastzahlen_merge['Linienname_Fahrgastauskunft'].str[0:2]

df_fahrgastzahlen_merge.head(1)

,Haltestellen_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,traffic_total,Distanz_m,Haltestellennummer,Haltestellenkurzname,Haltestellenlangname,VSYS,Linienname_Fahrgastauskunft,halt_lin_kurz,halt_lin_lang,Linientyp_S,Linientyp_N
0,4,3,916,102001,5309,2.260442,1.916962,10.838398,4.177404,606.862245,3041,BTIE,"Z√ºrich, Bahnhof Tiefenbrunnen",BP,916,4-916,"Z√ºrich, Bahnhof Tiefenbrunnen Linie 916",6,91

In [68]:
df_fahrgastzahlen_merge.loc[df_fahrgastzahlen_merge['Linientyp_S'] == 'S', 'linientyp_spez'] = 1
df_fahrgastzahlen_merge.loc[df_fahrgastzahlen_merge['Linientyp_N'].str.contains('N'), 'linientyp_spez'] = 1
df_fahrgastzahlen_merge.head(100)

,Haltestellen_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,traffic_total,Distanz_m,Haltestellennummer,Haltestellenkurzname,Haltestellenlangname,VSYS,Linienname_Fahrgastauskunft,halt_lin_kurz,halt_lin_lang,Linientyp_S,Linientyp_N,linientyp_spez
0,4,3,916,102001,5309,2.260442,1.916962,10.838398,4.177404,606.862245,3041,BTIE,"Z√ºrich, Bahnhof Tiefenbrunnen",BP,916,4-916,"Z√ºrich, Bahnhof Tiefenbrunnen Linie 916",6,91,NaN
1,5,3,916,102001,5309,0.238072,0.225833,12.181104,0.463906,525.469388,418,BUEB,"Zollikon, Bahn√ºbergang",BP,916,5-916,"Zollikon, Bahn√ºbergang Linie 916",6,91,NaN
2,6,3,916,102001,5309,0.708526,0.750994,11.368270,1.459520,397.579082,824,FBST,"Zollikon, Felbenstrasse",BP,916,6-916,"Zollikon, Felbenstrasse Linie 916",6,91,NaN
3,7,3,916,102001,5309,1.305883,1.134898,10.000685,2.440781,442.272959,715,DUFP,"Zollikon, Dufourplatz",BP,916,7-916,"Zollikon, Dufourplatz Linie 916",6,91,NaN
4,8,3,916,102001,5309,1.191597,1.329759,7.951429,2.521356,423.140306,476,BEUG,"Zollikon, Beugi",BP,916,8-916,"Zollikon, Beugi Linie 916",6,91,NaN
5,9,3,916,102001,5297,0.694024,0.759047,6.400046,1.453071,325.500000,1013,GOHA,"Zollikon, Goldhaldenplatz",BP,916,9-916,"Zollikon, Goldhaldenplatz Linie 916",6,91,NaN
6,10,3,916,102001,5297,0.443287,0.506121,5.461854,0.949408,316.500000,610,BUEH,"K√ºsnacht ZH, B√ºhlstrasse",BP,916,10-916,"K√ºsnacht ZH, B√ºhlstrasse Linie 916",6,91,NaN
7,11,3,916,102124,5297,0.278060,0.378746,4.870674,0.656807,385.000000,1011,GOBA,"K√ºsnacht ZH, Goldbacherstrasse",BP,916,11-916,"K√ºsnacht ZH, Goldbacherstrasse Linie 916",6,91,NaN
8,12,3,916,102124,5297,0.325260,0.445205,4.348580,0.770465,403.238462,516,BOGL,"K√ºsnacht ZH, Boglerenstrasse",BP,916,12-916,"K√ºsnacht ZH, Boglerenstrasse Linie 916",6,91,NaN
9,13,3,916,102124,5340,0.814023,0.975974,3.986891,1.789997,309.864796,2168,SIHE,"K√ºsnacht ZH, Schiedhaldenstr.",BP,916,13-916,"K√ºsnacht ZH, Schiedhaldenstr. Linie 916",6,91,NaN
10,14,3,916,18205,2380,0.432813,0.514283,3.877775,0.947096,371.630901,1818,OBWA,"K√ºsnacht ZH, Oberwacht",BP,916,14-916,"K√ºsnacht ZH, Oberwacht Linie 916",6,91,NaN
11,15,3,916,18205,2380,1.090762,0.747744,3.978013,1.838506,364.618026,1769,OBHE,"K√ºsnacht ZH, Obere Heslibachst",BP,916,15-916,"K√ºsnacht ZH, Obere Heslibachst Linie 916",6,91,NaN
12,16,3,916,18205,2380,0.146436,0.175724,3.715273,0.322160,473.124464,462,BEST,"K√ºsnacht ZH, Bergstrasse",BP,916,16-916,"K√ºsnacht ZH, Bergstrasse Linie 916",6,91,NaN
13,17,3,916,18205,2380,0.243053,0.319158,3.287958,0.562212,347.347639,1189,HIST,"K√ºsnacht ZH, Himmelistrasse",BP,916,17-916,"K√ºsnacht ZH, Himmelistrasse Linie 916",6,91,NaN
14,18,3,916,18205,2380,0.188672,0.196375,2.875474,0.385047,211.369099,1182,HESL,"K√ºsnacht ZH, Hesligenstrasse",BP,916,18-916,"K√ºsnacht ZH, Hesligenstrasse Linie 916",6,91,NaN
15,19,3,916,4,1208,0.096028,0.678731,2.556051,0.774760,231.000000,2122,RAEN,"K√ºsnacht ZH, R√§nkestrasse",BP,916,19-916,"K√ºsnacht ZH, R√§nkestrasse Linie 916",6,91,NaN
16,20,3,916,18205,2380,1.109722,1.294481,2.248393,2.404202,158.433476,54,KALL,"K√ºsnacht ZH, Allmend",BP,916,20-916,"K√ºsnacht ZH, Allmend Linie 916",6,91,NaN
17,21,3,916,102001,3533,0.504884,0.547728,8.649980,1.052612,1070.012658,3717,CHIN,"Z√ºrich, Chinagarten",BP,916,21-916,"Z√ºrich, Chinagarten Linie 916",6,91,NaN
18,22,3,916,101942,2689,0.492680,5.079410,6.226165,5.572090,183.000000,1845,OPER,"Z√ºrich, Opernhaus",BP,916,22-916,"Z√ºrich, Opernhaus Linie 916",6,91,NaN
19,23,3,916,102001,7984,3.274994,2.139859,5.260345,5.414853,557.005111,440,BELL,"Z√ºrich, Bellevue",BP,916,23-916,"Z√ºrich, Bellevue Linie 916",6,91,NaN
20,24,3,916,102001,2606,0.227834,0.185338,9.850158,0.413173,403.000000,769,ELWA,"Z√ºrich, Elektrowatt",BP,916,24-916,"Z√ºrich, Elektrowatt Linie 916",6,91,NaN
21,120,3,916,18205,1762,2.590059,1.170556,14.938097,3.760615,274.000000,1286,HOES,"Z√ºrich, H√∂schgasse",BP,916,120-916,"Z√ºrich, H√∂schgasse Linie 916",6,91,NaN
22,121,3,916,18205,1762,1.976212,0.366463,13.518595,2.342675,366.000000,917,FROE,"Z√ºrich, Fr√∂hlichstrasse",BP,916,121-916,"Z√ºrich, Fr√∂hlichstrasse Linie 916",6,91,NaN
23,122,3,916,18205,1762,0.740225,0.252693,11.908846,0.992917,273.000000,2907,WILD,"Z√ºrich, Wildbachstrasse",BP,916,122-916,"Z√ºrich, Wildbachstrasse Linie 916",6,91,NaN
24,217,3,916,18205,1762,1.252005,0.927980,16.604429,2.179985,356.000000,1456,KRES,"Z√ºrich, Kreuzstrasse",BP,916,217-916,"Z√ºrich, Kreuzstrasse Linie 916",6,91,NaN
25,218,3,916,18205,1762,1.997189,0.654882,16.280405,2.652071,351.000000,832,FELD,"Z√ºrich, Feldeggstrasse",BP,916,218-916,"Z√ºrich, Feldeggstrasse Linie 916",6,91,NaN
26,4,7,33,68716,21038,1.515205,1.302838,3.030410,2.818044,192.500000,3041,BTIE,"Z√ºrich, Bahnhof Tiefenbrunnen",TR,33,4-33,"Z√ºrich, Bahnhof Tiefenbrunnen Linie 33",3,33,NaN
27,41,7,33,73035,21436,2.093368,2.366092,14.874631,4.459460,600.500000,1252,HUBE,"Z√ºrich, Hubertus",TR,33,41-33,"Z√ºrich, Hubertus Linie 33",3,33,NaN
28,75,7,33,73035,21436,3.024875,2.522943,22.017093,5.547818,511.710280,1122,HARP,"Z√ºrich, Hardplatz",TR,33,75-33,"Z√ºrich, Hardplatz Linie 33",3,33,NaN
29,76,7,33,73035,20963,7.528731,7.177912,20.453519,14.706643,390.040191,3029,HSBB,"Z√ºrich, Bahnhof Hardbr√ºcke",TR,33,76-33,"Z√ºrich, Bahnhof Hardbr√ºcke Linie 33",3,33,NaN
30,77,7,33,73035,20963,1.597243,1.732878,17.336418,3.330121,394.711962,6759,SBAU,"Z√ºrich, Schiffbau",TR,33,77-33,"Z√ºrich, Schiffbau Linie 33",3,33,NaN
31,78,7,33,73035,20963,2.264185,2.223664,17.248225,4.487850,390.005742,799,EWYS,"Z√ºrich, Escher-Wyss-Platz",TR,33,78-33,"Z√ºrich, Escher-Wyss-Platz Linie 33",3,33,NaN
32,79,7,33,73035,20963,1.900627,1.847006,16.297254,3.747633,424.161722,2104,ROSE,"Z√ºrich, Rosengartenstrasse",TR,33,79-33,"Z√ºrich, Rosengartenstrasse Linie 33",3,33,NaN
33,90,7,33,73035,20963,3.865090,3.492414,16.508885,7.357503,448.122488,3043,BWIP,"Z√ºrich, Bahnhof Wipkingen",TR,33,90-33,"Z√ºrich, Bahnhof Wipkingen Linie 33",3,33,NaN
34,94,7,33,1881,473,1.322141,0.600318,3.435357,1.922460,374.000000,619,CENT,"Z√ºrich, Central",TR,33,94-33,"Z√ºrich, Central Linie 33",3,33,NaN
35,97,7,33,73035,21759,5.351474,5.326825,18.934005,10.678300,375.971507,48,ALBP,"Z√ºrich, Albisriederplatz",TR,33,97-33,"Z√ºrich, Albisriederplatz Linie 33",3,33,NaN
36,98,7,33,73035,21436,0.997453,0.754348,16.418503,1.751801,392.500000,1446,AKRE,"Z√ºrich, Altes Krematorium",TR,33,98-33,"Z√ºrich, Altes Krematorium Linie 33",3,33,NaN
37,99,7,33,73035,21436,1.645788,1.741821,12.751981,3.387609,288.000000,2147,SACK,"Z√ºrich, Sackzelg",TR,33,99-33,"Z√ºrich, Sackzelg Linie 33",3,33,NaN
38,100,7,33,73035,21436,1.854698,1.358266,10.852531,3.212963,290.500000,3155,ALTW,"Z√ºrich, Schulhaus Altweg",TR,33,100-33,"Z√ºrich, Schulhaus Altweg Linie 33",3,33,NaN
39,101,7,33,73035,21436,1.588740,1.726693,8.272304,3.315433,376.500000,1320,IDEY,"Z√ºrich, In der Ey",TR,33,101-33,"Z√ºrich, In der Ey Linie 33",3,33,NaN
40,102,7,33,73035,21436,3.565279,3.551752,7.130558,7.117031,202.500000,2680,TRIE,"Z√ºrich, Triemli",TR,33,102-33,"Z√ºrich, Triemli Linie 33",3,33,NaN
41,103,7,33,73035,20963,0.848059,0.837617,17.022759,1.685676,222.866029,1753,NUER,"Z√ºrich, N√ºrenbergstrasse",TR,33,103-33,"Z√ºrich, N√ºrenbergstrasse Linie 33",3,33,NaN
42,104,7,33,73035,20963,1.968249,2.053154,17.354006,4.021403,234.685167,2108,ROTB,"Z√ºrich, Rotbuchstrasse",TR,33,104-33,"Z√ºrich, Rotbuchstrasse Linie 33",3,33,NaN
43,105,7,33,73035,20963,3.728827,3.710484,17.517717,7.439311,396.440191,2158,SPLA,"Z√ºrich, Schaffhauserplatz",TR,33,105-33,"Z√ºrich, Schaffhauserplatz Linie 33",3,33,NaN
44,106,7,33,73035,20963,1.768931,1.805097,16.668005,3.574028,486.927273,2164,SCHZ,"Z√ºrich, Scheuchzerstrasse",TR,33,106-33,"Z√ºrich, Scheuchzerstrasse Linie 33",3,33,NaN
45,107,7,33,73035,20963,4.103382,4.275043,15.795960,8.378425,349.464115,2367,RIGI,"Z√ºrich, Seilbahn Rigiblick",TR,33,107-33,"Z√ºrich, Seilbahn Rigiblick Linie 33",3,33,NaN
46,108,7,33,73035,20963,1.086121,0.920947,15.649240,2.007068,285.396172,2779,VOGE,"Z√ºrich, Vogelsangstrasse",TR,33,108-33,"Z√ºrich, Vogelsangstrasse Linie 33",3,33,NaN
47,109,7,33,73035,20963,1.248655,1.716981,14.764695,2.965636,310.764593,2451,SPYR,"Z√ºrich, Spyriplatz",TR,33,109-33,"Z√ºrich, Spyriplatz Linie 33",3,33,NaN
48,110,7,33,68716,10605,0.883294,2.269105,13.963630,3.152400,290.000000,471,BETH,"Z√ºrich, Bethanien",TR,33,110-33,"Z√ºrich, Bethanien Linie 33",3,33,NaN
49,111,7,33,68716,10605,0.837358,2.618490,12.182498,3.455849,355.437262,2673,TOBL,"Z√ºrich, Toblerplatz",TR,33,111-33,"Z√ºrich, Toblerplatz Linie 33",3,33,NaN
50,112,7,33,73035,20963,2.540641,2.327607,12.575389,4.868247,423.766507,1407,KFLU,"Z√ºrich, Kirche Fluntern",TR,33,112-33,"Z√ºrich, Kirche Fluntern Linie 33",3,33,NaN
51,113,7,33,73035,20565,0.829953,1.093768,11.873033,1.923721,583.360544,3469,HOFS,"Z√ºrich, Hofstrasse",TR,33,113-33,"Z√ºrich, Hofstrasse Linie 33",3,33,NaN
52,114,7,33,73035,20565,0.721584,1.026970,11.316927,1.748554,357.346939,3648,KLOB,"Z√ºrich, Klosbach",TR,33,114-33,"Z√ºrich, Klosbach Linie 33",3,33,NaN
53,115,7,33,73035,20565,0.498598,0.635104,11.050830,1.133702,336.782313,3470,HSTG,"Z√ºrich, H√∂lderlinsteig",TR,33,115-33,"Z√ºrich, H√∂lderlinsteig Linie 33",3,33,NaN
54,116,7,33,73035,20565,2.820899,2.851600,10.465042,5.672499,323.741497,1430,KLUS,"Z√ºrich, Klusplatz",TR,33,116-33,"Z√ºrich, Klusplatz Linie 33",3,33,NaN
55,117,7,33,73035,20565,0.780603,0.819390,9.930450,1.599993,283.442177,3466,FRST,"Z√ºrich, Freiestrasse",TR,33,117-33,"Z√ºrich, Freiestrasse Linie 33",3,33,NaN
56,118,7,33,73035,21038,1.853819,2.037023,9.219748,3.890841,339.018027,1144,HEGI,"Z√ºrich, Hegibachplatz",TR,33,118-33,"Z√ºrich, Hegibachplatz Linie 33",3,33,NaN
57,119,7,33,73035,21038,0.678983,0.719699,8.562068,1.398682,374.500000,3645,BOGA,"Z√ºrich, Botanischer Garten",TR,33,119-33,"Z√ºrich, Botanischer Garten Linie 33",3,33,NaN
58,120,7,33,73035,21038,2.103065,1.597224,6.961880,3.700289,303.500000,1286,HOES,"Z√ºrich, H√∂schgasse",TR,33,120-33,"Z√ºrich, H√∂schgasse Linie 33",3,33,NaN
59,121,7,33,73035,21038,1.062170,0.776059,4.535265,1.838228,312.500000,917,FROE,"Z√ºrich, Fr√∂hlichstrasse",TR,33,121-33,"Z√ºrich, Fr√∂hlichstrasse Linie 33",3,33,NaN
60,122,7,33,68716,21038,0.518031,0.418098,3.267094,0.936129,393.500000,2907,WILD,"Z√ºrich, Wildbachstrasse",TR,33,122-33,"Z√ºrich, Wildbachstrasse Linie 33",3,33,NaN
61,123,7,33,73035,10358,1.657421,1.017421,13.644609,2.674842,293.000000,1194,HINT,"Z√ºrich, Hinterbergstrasse",TR,33,123-33,"Z√ºrich, Hinterbergstrasse Linie 33",3,33,NaN
62,124,7,33,1881,473,0.195020,0.242350,1.640587,0.437370,344.000000,2388,SIGN,"Z√ºrich, Signaustrasse",TR,33,124-33,"Z√ºrich, Signaustrasse Linie 33",3,33,NaN
63,125,7,33,1881,473,0.421826,0.318162,1.927456,0.739988,273.600000,1453,KREU,"Z√ºrich, Kreuzplatz",TR,33,125-33,"Z√ºrich, Kreuzplatz Linie 33",3,33,NaN
64,126,7,33,1881,473,0.158657,0.090852,2.123694,0.249508,484.560000,2450,SPRE,"Z√ºrich, Sprecherstrasse",TR,33,126-33,"Z√ºrich, Sprecherstrasse Linie 33",3,33,NaN
65,127,7,33,1881,473,0.273862,0.276854,2.252188,0.550716,315.720000,1472,KUNS,"Z√ºrich, Kunsthaus",TR,33,127-33,"Z√ºrich, Kunsthaus Linie 33",3,33,NaN
66,128,7,33,1881,473,0.494566,0.187106,2.751598,0.681672,446.800000,1724,NEUM,"Z√ºrich, Neumarkt",TR,33,128-33,"Z√ºrich, Neumarkt Linie 33",3,33,NaN
67,129,7,33,1881,473,2.126420,1.137459,4.541182,3.263879,312.400000,412,BPLA,"Z√ºrich, Bahnhofplatz/HB",TR,33,129-33,"Z√ºrich, Bahnhofplatz/HB Linie 33",3,33,NaN
68,130,7,33,1881,473,0.562771,0.388914,5.176731,0.951684,271.480000,1608,LOEW,"Z√ºrich, L√∂wenplatz",TR,33,130-33,"Z√ºrich, L√∂wenplatz Linie 33",3,33,NaN
69,131,7,33,1881,473,0.619503,0.343552,5.848832,0.963056,394.960000,1366,SIHP,"Z√ºrich, Sihlpost / HB",TR,33,131-33,"Z√ºrich, Sihlpost / HB Linie 33",3,33,NaN
70,132,7,33,1881,473,0.438296,0.591085,5.767479,1.029381,284.600000,1358,KANO,"Z√ºrich, Kanonengasse",TR,33,132-33,"Z√ºrich, Kanonengasse Linie 33",3,33,NaN
71,133,7,33,1881,473,1.047491,2.644781,3.680800,3.692272,400.120000,1644,MILA,"Z√ºrich, Milit√§r-/Langstrasse",TR,33,133-33,"Z√ºrich, Milit√§r-/Langstrasse Linie 33",3,33,NaN
72,134,7,33,1881,473,0.422124,0.366178,3.085438,0.788302,375.280000,1234,BANL,"Z√ºrich, B√§ckeranlage",TR,33,134-33,"Z√ºrich, B√§ckeranlage Linie 33",3,33,NaN
73,135,7,33,1881,473,0.428261,0.515433,2.525769,0.943694,441.680000,1076,GUET,"Z√ºrich, G√ºterbahnhof",TR,33,135-33,"Z√ºrich, G√ºterbahnhof Linie 33",3,33,NaN
74,136,7,33,1881,473,0.356241,1.008203,0.989559,1.364444,178.560000,1162,HERD,"Z√ºrich, Herdernstrasse",TR,33,136-33,"Z√ºrich, Herdernstrasse Linie 33",3,33,NaN
75,4,11,4,88973,30122,3.012010,2.403962,6.020661,5.415972,185.103179,3041,BTIE,"Z√ºrich, Bahnhof Tiefenbrunnen",T,4,4-4,"Z√ºrich, Bahnhof Tiefenbrunnen Linie 4",4,4,NaN
76,22,11,4,90257,30122,6.562101,6.963987,25.290025,13.526088,257.496375,1845,OPER,"Z√ºrich, Opernhaus",T,4,22-4,"Z√ºrich, Opernhaus Linie 4",4,4,NaN
77,23,11,4,90257,30122,7.569756,7.893536,24.629887,15.463292,304.527050,440,BELL,"Z√ºrich, Bellevue",T,4,23-4,"Z√ºrich, Bellevue Linie 4",4,4,NaN
78,28,11,4,78857,4,0.333335,0.000000,0.333335,0.333335,420.000000,1364,KAPP,"Z√ºrich, Kappeli",T,4,28-4,"Z√ºrich, Kappeli Linie 4",4,4,NaN
79,68,11,4,83907,485,0.000000,0.788545,NaN,0.788545,0.000000,2572,SOER,"Z√ºrich, Sternen Oerlikon",T,4,68-4,"Z√ºrich, Sternen Oerlikon Linie 4",4,4,NaN
80,77,11,4,90257,30290,4.244328,4.306561,18.235932,8.550890,449.262983,6759,SBAU,"Z√ºrich, Schiffbau",T,4,77-4,"Z√ºrich, Schiffbau Linie 4",4,4,NaN
81,78,11,4,90257,30535,3.730740,3.443060,19.291003,7.173800,388.856048,799,EWYS,"Z√ºrich, Escher-Wyss-Platz",T,4,78-4,"Z√ºrich, Escher-Wyss-Platz Linie 4",4,4,NaN
82,93,11,4,85819,918,0.267170,0.769919,3.717560,1.037089,506.871795,2474,STAM,"Z√ºrich, Stampfenbachplatz",T,4,93-4,"Z√ºrich, Stampfenbachplatz Linie 4",4,4,NaN
83,94,11,4,90257,30242,5.952785,4.977951,27.605376,10.930736,268.634797,619,CENT,"Z√ºrich, Central",T,4,94-4,"Z√ºrich, Central Linie 4",4,4,NaN
84,95,11,4,90257,30141,9.083563,9.950499,23.905757,19.034062,322.809894,413,BQUA,"Z√ºrich, Bahnhofquai/HB",T,4,95-4,"Z√ºrich, Bahnhofquai/HB Linie 4",4,4,NaN
85,97,11,4,78857,4,0.500000,0.166665,2.833335,0.666665,312.000000,48,ALBP,"Z√ºrich, Albisriederplatz",T,4,97-4,"Z√ºrich, Albisriederplatz Linie 4",4,4,NaN
86,105,11,4,80120,1038,0.610777,0.404192,3.109737,1.014969,373.733333,2158,SPLA,"Z√ºrich, Schaffhauserplatz",T,4,105-4,"Z√ºrich, Schaffhauserplatz Linie 4",4,4,NaN
87,120,11,4,90257,30122,5.030285,4.766952,17.320367,9.797238,321.973229,1286,HOES,"Z√ºrich, H√∂schgasse",T,4,120-4,"Z√ºrich, H√∂schgasse Linie 4",4,4,NaN
88,121,11,4,90257,30122,3.307841,3.361740,10.820980,6.669581,319.026213,917,FROE,"Z√ºrich, Fr√∂hlichstrasse",T,4,121-4,"Z√ºrich, Fr√∂hlichstrasse Linie 4",4,4,NaN
89,122,11,4,88973,30122,1.570582,1.626486,6.683726,3.197068,323.469604,2907,WILD,"Z√ºrich, Wildbachstrasse",T,4,122-4,"Z√ºrich, Wildbachstrasse Linie 4",4,4,NaN
90,129,11,4,17174,409,1.728950,1.996956,3.366443,3.725905,261.903846,412,BPLA,"Z√ºrich, Bahnhofplatz/HB",T,4,129-4,"Z√ºrich, Bahnhofplatz/HB Linie 4",4,4,NaN
91,130,11,4,17174,409,0.422929,0.350467,3.485113,0.773396,262.615385,1608,LOEW,"Z√ºrich, L√∂wenplatz",T,4,130-4,"Z√ºrich, L√∂wenplatz Linie 4",4,4,NaN
92,131,11,4,17174,409,0.954369,0.565001,4.027202,1.519370,413.461538,1366,SIHP,"Z√ºrich, Sihlpost / HB",T,4,131-4,"Z√ºrich, Sihlpost / HB Linie 4",4,4,NaN
93,156,11,4,83907,485,0.123584,2.542384,0.788545,2.665968,286.000000,3034,BOER,"Z√ºrich, Bahnhof Oerlikon",T,4,156-4,"Z√ºrich, Bahnhof Oerlikon Linie 4",4,4,NaN
94,157,11,4,83907,485,0.185214,0.463983,3.207343,0.649197,520.000000,2045,REGB,"Z√ºrich, Regensbergbr√ºcke",T,4,157-4,"Z√ºrich, Regensbergbr√ºcke Linie 4",4,4,NaN
95,158,11,4,83907,485,0.078169,0.431086,3.486113,0.509255,299.000000,144,BADA,"Z√ºrich, Bad Allenmoos",T,4,158-4,"Z√ºrich, Bad Allenmoos Linie 4",4,4,NaN
96,159,11,4,83907,485,0.382261,0.412448,3.839030,0.794709,496.000000,2017,RADI,"Z√ºrich, Radiostudio",T,4,159-4,"Z√ºrich, Radiostudio Linie 4",4,4,NaN
97,160,11,4,83907,485,1.107087,0.505800,3.869216,1.612886,466.000000,564,BUCH,"Z√ºrich, Bucheggplatz",T,4,160-4,"Z√ºrich, Bucheggplatz Linie 4",4,4,NaN
98,161,11,4,83907,485,0.090437,0.203425,3.267929,0.293862,445.000000,1522,LAUI,"Z√ºrich, Laubiweg",T,4,161-4,"Z√ºrich, Laubiweg Linie 4",4,4,NaN
99,162,11,4,85819,918,0.590443,0.172061,3.518407,0.762503,459.846154,1468,KRON,"Z√ºrich, Kronenstrasse",T,4,162-4,"Z√ºrich, Kronenstrasse Linie 4",4,4,NaN

In [69]:
# Speziallinien rausfiltern
filt= df_fahrgastzahlen_merge['linientyp_spez']!=1
df_fahrgastzahlen_merge=df_fahrgastzahlen_merge[filt]

In [70]:
#0 total_traffic rausfiltern
filt2= df_fahrgastzahlen_merge['traffic_total']!=0
df_fahrgastzahlen_merge=df_fahrgastzahlen_merge[filt2]

## 1b Haltestellen Geodaten einlesen und mit Fahrgastzahlen mergen

In [71]:
#Daten einlesen
df_haltestellen_geo = pd.read_csv('./Haltestellen_des_offentlichen_Verkehrs_-OGD/ZVV_HALTESTELLEN_P.csv')
df_haltestellen_geo.head(3)

,NHSTID,DIVA_NR,Y_KOORD,X_KOORD,CHSTNAME,CNAME,VTYP,HSTTYP,HAFAS_PRIO,LINKTEXT,ZONEN,SYMB_CODE,SYMB_TEXT,LINIEN,E,N
0,8583069,6796,NaN,NaN,"Ottenbach, Rigiblick",Ottenbach,Bus,&nbsp;,0,NaN,156.0,2,Bus,212,2673133,1236781
1,8590618,2982,NaN,NaN,"Geroldswil, Zentrum",Geroldswil,Bus,&nbsp;,0,NaN,154.0,2,Bus,"301,302,304,N34",2673255,1252747
2,8572606,2733,NaN,NaN,"Ottenbach, Ulmenhof",Ottenbach,Bus,&nbsp;,0,NaN,156.0,2,Bus,"215,N22",2673318,1236747

In [72]:
#Daten mergen
df_fahrgastzahlen_geo=df_fahrgastzahlen_merge.merge(df_haltestellen_geo,left_on='Haltestellennummer',right_on='DIVA_NR', how='left')

In [73]:
df_fahrgastzahlen_geo.head(3)

,Haltestellen_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,traffic_total,Distanz_m,Haltestellennummer,Haltestellenkurzname,Haltestellenlangname,VSYS,Linienname_Fahrgastauskunft,halt_lin_kurz,halt_lin_lang,Linientyp_S,Linientyp_N,linientyp_spez,NHSTID,DIVA_NR,Y_KOORD,X_KOORD,CHSTNAME,CNAME,VTYP,HSTTYP,HAFAS_PRIO,LINKTEXT,ZONEN,SYMB_CODE,SYMB_TEXT,LINIEN,E,N
0,4,3,916,102001,5309,2.260442,1.916962,10.838398,4.177404,606.862245,3041,BTIE,"Z√ºrich, Bahnhof Tiefenbrunnen",BP,916,4-916,"Z√ºrich, Bahnhof Tiefenbrunnen Linie 916",6,91,NaN,8576182,3041,NaN,NaN,"Z√ºrich, Bahnhof Tiefenbrunnen",Z√ºrich,"Bus,Tram,Trolleybus",&nbsp;,2,NaN,110.0,3,Bus Tram,"2,4,33,910,912,916,N91",2684803,1245002
1,5,3,916,102001,5309,0.238072,0.225833,12.181104,0.463906,525.469388,418,BUEB,"Zollikon, Bahn√ºbergang",BP,916,5-916,"Zollikon, Bahn√ºbergang Linie 916",6,91,NaN,8576201,418,NaN,NaN,"Zollikon, Bahn√ºbergang",Zollikon,Bus,&nbsp;,0,NaN,140.0,2,Bus,"910,912,916,N91",2685196,1244508
2,6,3,916,102001,5309,0.708526,0.750994,11.368270,1.459520,397.579082,824,FBST,"Zollikon, Felbenstrasse",BP,916,6-916,"Zollikon, Felbenstrasse Linie 916",6,91,NaN,8576202,824,NaN,NaN,"Zollikon, Felbenstrasse",Zollikon,Bus,&nbsp;,0,NaN,140.0,2,Bus,"910,912,916,N91",2685467,1244210

## 1c Koordinaten in WGS84 Format umwandeln

In [74]:
# LV95 zu WGS84
inProj = Proj('epsg:2056')
outProj = Proj('epsg:4326')
x1,y1 = df_fahrgastzahlen_geo['E'], df_fahrgastzahlen_geo['N']
x2,y2 = transform(inProj, outProj, x1,y1)

In [75]:
df_fahrgastzahlen_geo['Koord_WGS84_E'] = x2
df_fahrgastzahlen_geo['Koord_WGS84_N'] = y2

In [76]:
df_fahrgastzahlen_geo.head(3)

,Haltestellen_Id,Linien_Id,Linienname,Plan_Fahrt_Id,Anzahl_Messungen,Einsteiger,Aussteiger,Besetzung,traffic_total,Distanz_m,Haltestellennummer,Haltestellenkurzname,Haltestellenlangname,VSYS,Linienname_Fahrgastauskunft,halt_lin_kurz,halt_lin_lang,Linientyp_S,Linientyp_N,linientyp_spez,NHSTID,DIVA_NR,Y_KOORD,X_KOORD,CHSTNAME,CNAME,VTYP,HSTTYP,HAFAS_PRIO,LINKTEXT,ZONEN,SYMB_CODE,SYMB_TEXT,LINIEN,E,N,Koord_WGS84_E,Koord_WGS84_N
0,4,3,916,102001,5309,2.260442,1.916962,10.838398,4.177404,606.862245,3041,BTIE,"Z√ºrich, Bahnhof Tiefenbrunnen",BP,916,4-916,"Z√ºrich, Bahnhof Tiefenbrunnen Linie 916",6,91,NaN,8576182,3041,NaN,NaN,"Z√ºrich, Bahnhof Tiefenbrunnen",Z√ºrich,"Bus,Tram,Trolleybus",&nbsp;,2,NaN,110.0,3,Bus Tram,"2,4,33,910,912,916,N91",2684803,1245002,47.350416,8.560994
1,5,3,916,102001,5309,0.238072,0.225833,12.181104,0.463906,525.469388,418,BUEB,"Zollikon, Bahn√ºbergang",BP,916,5-916,"Zollikon, Bahn√ºbergang Linie 916",6,91,NaN,8576201,418,NaN,NaN,"Zollikon, Bahn√ºbergang",Zollikon,Bus,&nbsp;,0,NaN,140.0,2,Bus,"910,912,916,N91",2685196,1244508,47.345922,8.566101
2,6,3,916,102001,5309,0.708526,0.750994,11.368270,1.459520,397.579082,824,FBST,"Zollikon, Felbenstrasse",BP,916,6-916,"Zollikon, Felbenstrasse Linie 916",6,91,NaN,8576202,824,NaN,NaN,"Zollikon, Felbenstrasse",Zollikon,Bus,&nbsp;,0,NaN,140.0,2,Bus,"910,912,916,N91",2685467,1244210,47.343207,8.569630

In [77]:
#### Column names als lowercase konvertieren
df_fahrgastzahlen_geo.columns=df_fahrgastzahlen_geo.columns.str.lower()
df_fahrgastzahlen_geo.columns

Index(['haltestellen_id', 'linien_id', 'linienname', 'plan_fahrt_id',
       'anzahl_messungen', 'einsteiger', 'aussteiger', 'besetzung',
       'traffic_total', 'distanz_m', 'haltestellennummer',
       'haltestellenkurzname', 'haltestellenlangname', 'vsys',
       'linienname_fahrgastauskunft', 'halt_lin_kurz', 'halt_lin_lang',
       'linientyp_s', 'linientyp_n', 'linientyp_spez', 'nhstid', 'diva_nr',
       'y_koord', 'x_koord', 'chstname', 'cname', 'vtyp', 'hsttyp',
       'hafas_prio', 'linktext', 'zonen', 'symb_code', 'symb_text', 'linien',
       'e', 'n', 'koord_wgs84_e', 'koord_wgs84_n'],
      dtype='object')

In [78]:
#nur relevante Spalten w√§hlen (tbd)
df_fahrgastzahlen_geo=df_fahrgastzahlen_geo[['haltestellen_id','linien_id',
'linienname','plan_fahrt_id','einsteiger','aussteiger','besetzung','traffic_total','anzahl_messungen','haltestellenlangname',
'distanz_m', 'halt_lin_kurz', 'halt_lin_lang', 'zonen', 'vsys', 'linienname_fahrgastauskunft',
'koord_wgs84_n','koord_wgs84_e']]
print(df_fahrgastzahlen_geo.shape)
df_fahrgastzahlen_geo.head(1)

(1631, 18)

,haltestellen_id,linien_id,linienname,plan_fahrt_id,einsteiger,aussteiger,besetzung,traffic_total,anzahl_messungen,haltestellenlangname,distanz_m,halt_lin_kurz,halt_lin_lang,zonen,vsys,linienname_fahrgastauskunft,koord_wgs84_n,koord_wgs84_e
0,4,3,916,102001,2.260442,1.916962,10.838398,4.177404,5309,"Z√ºrich, Bahnhof Tiefenbrunnen",606.862245,4-916,"Z√ºrich, Bahnhof Tiefenbrunnen Linie 916",110.0,BP,916,8.560994,47.350416

## 1e Quartier den Koordinaten zuteilen

In [79]:
map_path = './Geodaten/stzh.adm_statzonen_map.geojson'

In [80]:
with open(map_path) as f:
    gj = geojson.load(f)
features = gj['features']

In [81]:
#erstelle list of tuples f√ºr jede Statistische Zone
dict_of_q_tuples = {}
for y in range(0,len(features)):
    q_tuples = []
    for x in range(0,len(features[y]['geometry']['coordinates'][0])):
        q_tuples.append(tuple(features[y]['geometry']['coordinates'][0][x]))
    dict_of_q_tuples[features[y]['properties']['stzname']] = q_tuples

In [82]:
#Schau mal ob Haltestelle in Polygon von Quartier sich befindet; entsprechend zuteilen
quartier_liste = []

for i in range(0,len(df_fahrgastzahlen_geo)):
    counter = 0
    for y in range(0, len(features)):
        polygon = Polygon(dict_of_q_tuples[features[y]['properties']['stzname']])
        point = Point(df_fahrgastzahlen_geo['koord_wgs84_n'][i], df_fahrgastzahlen_geo['koord_wgs84_e'][i])
        if polygon.contains(point) or point.touches(polygon):
            quartier_liste.append(features[y]['properties']['stzname'])
            counter = 1
            break
        if counter == 1: break
    if counter == 0: quartier_liste.append('Keine Zone')

In [83]:
len(quartier_liste)

1631

In [84]:
df_fahrgastzahlen_geo['Quartier'] = quartier_liste

In [85]:
#Schau mal ohne Zone - es sind Haltestellen ausserhalb Z√ºri-Stadt
kq_filter = df_fahrgastzahlen_geo.loc[df_fahrgastzahlen_geo['Quartier'] == 'Keine Zone',:]

## 1f Kapazit√§t der Fahrtlinien

In [86]:
#Daten mergen
df_fahrgastzahlen_geo_gg=df_fahrgastzahlen_geo.merge(df_gefgr,left_on='plan_fahrt_id',right_on='Plan_Fahrt_Id', how='left')

In [87]:
#Belastung berechnen und nan ersetzen
#SITZPL√ÑTZE
df_fahrgastzahlen_geo_gg['belastung'] = df_fahrgastzahlen_geo_gg['besetzung']/df_fahrgastzahlen_geo_gg['SITZPLAETZE']
df_fahrgastzahlen_geo_gg['belastung']=df_fahrgastzahlen_geo_gg['belastung'].fillna(0).copy()

In [88]:
#Spalten l√∂schen
df_fahrgastzahlen_geo_gg=df_fahrgastzahlen_geo_gg[['haltestellen_id','linien_id',
'linienname','plan_fahrt_id','belastung','einsteiger','aussteiger','besetzung','traffic_total','anzahl_messungen','haltestellenlangname',
'distanz_m', 'halt_lin_kurz', 'halt_lin_lang', 'zonen', 'vsys', 'linienname_fahrgastauskunft',
'koord_wgs84_n','koord_wgs84_e','Quartier']]

## Daten exportieren

In [89]:
#### Daten exportieren
df_fahrgastzahlen_geo_gg.to_csv('./df_fahrgastzahlen_geo.csv', index=False)

# 2 Geodaten Bev√∂lkerung

## 2a Geodaten Bev√∂lkerung Einlesen

In [90]:
# Punkt-Datensatz einlesen
#df_bev_geo_p = pd.read_csv('./Raumliche_Bevolkerungsstatistik_-OGD/BEVOELKERUNG_HA_P.csv')
df_bev_geo_p = pd.read_csv('./Geodaten/BEVOELKERUNG_HA_P.csv')
df_bev_geo_p.head(3)

,RECORDID,PERS_N,J_0_6_P,J_7_15_P,J_16_19_P,J_20_24_P,J_25_44_P,J_45_64_P,J_65_79_P,J_80PLUS_P,ALTERSQUOT,JUGENDQUOT,GESAMTQUOT,MANN_N,FRAU_N,FRAU_P,SCHWEIZ_N,AUSLAND_N,AUSLAND_P,FLAECHE_HA,DICHTE_PHA,STICHTAG,E,N
0,1277028,43,9.3,4.7,2.3,0.0,27.9,34.9,4.7,16.3,33.3,25.9,59.3,22,21,48.8,23,20,46.5,1,43,20220630,2672150,1250250
1,1275534,122,7.4,9.0,4.1,4.1,30.3,28.7,10.7,5.7,26.0,32.5,58.4,60,62,50.8,50,72,59.0,1,122,20220630,2672150,1250550
2,1272558,15,0.0,0.0,0.0,6.7,60.0,20.0,6.7,6.7,15.4,0.0,15.4,6,9,60.0,8,7,46.7,1,15,20220630,2672350,1250050

In [91]:
df_bev_geo_p.isnull().values.any()

False

Es gibt zwar keine Nullwerte, jedoch viele -999 welche ersetzt werden m√ºssen

In [92]:
### alle -999 mit 0 ersetzen

df_bev_geo_p=df_bev_geo_p.replace(-999,0)
df_bev_geo_p.head(3)

,RECORDID,PERS_N,J_0_6_P,J_7_15_P,J_16_19_P,J_20_24_P,J_25_44_P,J_45_64_P,J_65_79_P,J_80PLUS_P,ALTERSQUOT,JUGENDQUOT,GESAMTQUOT,MANN_N,FRAU_N,FRAU_P,SCHWEIZ_N,AUSLAND_N,AUSLAND_P,FLAECHE_HA,DICHTE_PHA,STICHTAG,E,N
0,1277028,43,9.3,4.7,2.3,0.0,27.9,34.9,4.7,16.3,33.3,25.9,59.3,22,21,48.8,23,20,46.5,1,43,20220630,2672150,1250250
1,1275534,122,7.4,9.0,4.1,4.1,30.3,28.7,10.7,5.7,26.0,32.5,58.4,60,62,50.8,50,72,59.0,1,122,20220630,2672150,1250550
2,1272558,15,0.0,0.0,0.0,6.7,60.0,20.0,6.7,6.7,15.4,0.0,15.4,6,9,60.0,8,7,46.7,1,15,20220630,2672350,1250050

## 2b Koordinaten in WGS84 Format umwandeln

In [93]:
# LV95 zu WGS84
inProj = Proj('epsg:2056')
outProj = Proj('epsg:4326')
x1,y1 = df_bev_geo_p['E'], df_bev_geo_p['N']
x2,y2 = transform(inProj, outProj, x1,y1)

In [94]:
df_bev_geo_p['Koord_WGS84_E'] = x2
df_bev_geo_p['Koord_WGS84_N'] = y2

In [95]:
df_bev_geo_p.head(3)

,RECORDID,PERS_N,J_0_6_P,J_7_15_P,J_16_19_P,J_20_24_P,J_25_44_P,J_45_64_P,J_65_79_P,J_80PLUS_P,ALTERSQUOT,JUGENDQUOT,GESAMTQUOT,MANN_N,FRAU_N,FRAU_P,SCHWEIZ_N,AUSLAND_N,AUSLAND_P,FLAECHE_HA,DICHTE_PHA,STICHTAG,E,N,Koord_WGS84_E,Koord_WGS84_N
0,1277028,43,9.3,4.7,2.3,0.0,27.9,34.9,4.7,16.3,33.3,25.9,59.3,22,21,48.8,23,20,46.5,1,43,20220630,2672150,1250250,47.399120,8.394395
1,1275534,122,7.4,9.0,4.1,4.1,30.3,28.7,10.7,5.7,26.0,32.5,58.4,60,62,50.8,50,72,59.0,1,122,20220630,2672150,1250550,47.401818,8.394444
2,1272558,15,0.0,0.0,0.0,6.7,60.0,20.0,6.7,6.7,15.4,0.0,15.4,6,9,60.0,8,7,46.7,1,15,20220630,2672350,1250050,47.397299,8.397012

In [96]:
#### Column names als lowercase konvertieren
df_bev_geo_p.columns=df_bev_geo_p.columns.str.lower()

In [97]:
###auf relevante Spalten filtern
spalt_bev=['pers_n','koord_wgs84_e','koord_wgs84_n']
df_bev_geo_p=df_bev_geo_p[spalt_bev]
df_bev_geo_p.head(3)

   pers_n  koord_wgs84_e  koord_wgs84_n
0      43      47.399120       8.394395
1     122      47.401818       8.394444
2      15      47.397299       8.397012

In [98]:
#csv speichern
df_bev_geo_p.to_csv('./df_bev_geo_p.csv', index=False)